	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/04/2018 09:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-typography:before { content: "\f100"; }
.flaticon-transport-3:before { content: "\f101"; }
.flaticon-fire-symbol:before { content: "\f102"; }
.flaticon-photo-camera:before { content: "\f103"; }
.flaticon-transport-2:before { content: "\f104"; }
.flaticon-24-hours-phone-service:before { content: "\f105"; }
.flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package:before { content: "\f106"; }
.flaticon-time:before { content: "\f107"; }
.flaticon-electric-current-symbol:before { content: "\f108"; }
.flaticon-add:before { content: "\f109"; }
.flaticon-video-camera:before { content: "\f10a"; }
.flaticon-fighter-jet-silhouette:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f10c"; }
.flaticon-3d-outlined-shape:before { content: "\f10d"; }
.flaticon-tool:before { content: "\f10e"; }
.flaticon-settings:before { content: "\f10f"; }
.flaticon-earth-globe:before { content: "\f110"; }
.flaticon-truck:before { content: "\f111"; }
.flaticon-car-wheel:before { content: "\f112"; }
.flaticon-settings-gears:before { content: "\f113"; }
.flaticon-vehicle:before { content: "\f114"; }
.flaticon-transport-1:before { content: "\f115"; }
.flaticon-transport:before { content: "\f116"; }
.flaticon-users:before { content: "\f117"; }
.flaticon-small-calendar:before { content: "\f118"; }
.flaticon-medal:before { content: "\f119"; }
.flaticon-like:before { content: "\f11a"; }
.flaticon-clip:before { content: "\f11b"; }
.flaticon-herbal-spa-treatment-leaves:before { content: "\f11c"; }
.flaticon-car-wash:before { content: "\f11d"; }